<html>
	<head>
		<title>STUDENT DATABASE</title>
		
	</head>
	<body>
		<h1>Add New User Details</h1>
			<form action='' method='POST'>
			<label>Sid:</label>
			<input type="text" name="Sid" required>
			<label>Std_name:</label>
			<input type="text" name="Std_name" required>
			<label>Department:</label>
			<input type="text" name="Department" required>
			<label>Lecture:</label>
			<input type="text" name="Lecture" required>
			<input type='submit' value='Save Details'>
			</form>
	</body>
</html>